<!-- Main footer -->
<footer class="flex items-end justify-between p-4 bg-white border-t dark:bg-darker dark:border-primary-darker">
    <div>Copyright &copy; @DateTime.UtcNow.Year Humate B.V.</div>
    <div>
        All Rights Reserved for:
        <a href="https://epay.co.nl/" target="_blank" class="text-blue-500 hover:underline">Rational Process BV</a>
    </div>
</footer>